a.navlink {
    background-color: rgb(37, 37, 37);
  box-shadow: 0 5px 0 rgb(0, 0, 0);
  color: white;
  padding: 1em 1.5em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

a.navlink:hover {
  background-color: #ffffff;
  box-shadow: 0 5px 0 rgb(255, 255, 255);
  color: rgb(37, 37, 37);
  cursor: pointer;
}